*.ps1 linguist-language=PowerShell linguist-detectable
*.py linguist-language=Python linguist-detectable
/engine_6/*.py linguist-language=Python linguist-detectable
/engine_6/*.ps1 linguist-language=PowerShell linguist-detectable
